<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" class="icono"/>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">
</head>
<body>
    <header>
        <div class="headerTopBar">
            <img src="img/logo-mercado-liebre.svg" alt="imagen del logo" class="w50"> 
            <input type = "search" name = "" id=" " placeholder="Buscar Producto">
            <p class="centrar"> 
                <i class="fas fa-hand-holding-usd"></i> 
                Compra en cuotas y sin tarjeta de credito
            </p>
        </div>
        <nav class="navSection mobileHide">
            <ul type="circle">
                <li><a href="#">Ofertas</a> </li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul type="circle">
                <li><a href="/register"> Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <div class="centrar fontIcon burger">
            <i class="fas fa-bars fontWhite bgLightBlue mpIcon"></i> 
        </div>
    </header>
    <main>
        <form action="/" method="GET" class="createForm bgLightGrey">
            <div class="foto">
                <input type="file" name="foto" accept="image/*">
                <i class="fas fa-user"></i> 
            </div>
            <div class="control">
                <label>Nombre y apellido:</label>
                <input type="text" name="nombre" class="control">
                <span class="error">Este campo tiene un error*</span>
            </div>
            <div class="control">
                <label>Nombre de usuari@:</label>
                <input type="text" name="username" class="control">
            </div>
            <div class="control">
                <label>Contraseña:</label>
                <input type="password" name="password" class="control">
            </div>
            <div class="control">
                <label>Confirmar contraseña:</label>
                <input type="password" name="password" class="control">
            </div>
            <div class="control">
                <label>Fecha de nacimiento</label>
                <input type="date" name="birthDate">
            </div>
            <div class="control">
                <label>Domicilio:</label>
                <input type="text" placeholder="Calle 1234" class="control">
            </div>
            <div class="control">
                <label>Perfil del usuario:</label>
                <div class="flex">
                    <input type="radio" name="userProfile" value="comprador" id="comprador">
                    <label for="comprador">Comprador</label>
                </div>
                <div class="flex">
                    <input type="radio" name="userProfile" value="vendedor" id="vendedor">
                    <label for="vendedor">Vendedor</label>
                </div>
            </div>
            <div class="control">
                <label>Categorias de interes:</label>
                <div class="flex">
                    <input type="checkbox" id="electro" name="electro"><label for="electro">Electro</label>
                </div>
                <div class="flex">
                    <input type="checkbox" id="moda" name="moda"><label for="moda">Moda</label>
                </div>
                <div class="flex">
                    <input type="checkbox" id="hogar" name="hogar"><label for="hogar">Hogar</label>
                </div>
                <div class="flex">
                    <input type="checkbox" id="jugueteria" name="jugueteria"><label for="jugueteria">Jugueteria</label>
                </div>
                <div class="flex">
                    <input type="checkbox" id="vidaSana" name="vidaSana"><label for="vidaSana">Vida Sana</label>
                </div>  
            </div>
            <a href="/">
                <button type="send" class="button">Enviar</button>
            </a>
            <button type="reset" class="button">Borrar</button>
        </form>
    </main>
    <footer class="bgWhite centrar padding">
        <section class="flex">
            <article>
                <i class="fas fa-credit-card fontBlue mpIcon fontIcon"></i>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article> 
            <article>
                <i class="fas fa-gift fontBlue mpIcon fontIcon"></i>
                <h3>Envio gratis desde $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article> 
            <article>
                <i class="fas fa-user-shield fontBlue mpIcon fontIcon"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article> 
        </section>
        <article>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
        </article> 
    </footer>
</body>
</html>